@media(max-width:1000px){
    .product__item {
        max-width: 100%;
        display: none;
        &:nth-child(-n+5){
            display: flex;
        }
    }
}
@media(max-width:920px){
    .header__slogan{
        display: none;
    }
    .price__list {
        column-count: 1;
        column-gap: 0;
        margin-bottom: 50px;
    }
    .price__line-link{
        max-width: 100%;
    }
    .price__line{
        display: none;
        &:nth-child(-n+10){
            display: block;
        }
    }
    .address__items{
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .address__item+.address__item{
        margin-left: 0;
    }
    .address__item:not(:last-child){
        margin-bottom: 40px;
    }
    .copy__text{
        p:not(:first-child){
            display: block;
            margin-bottom: 20px;
            
        }
        a{
            margin-top: 20px;
            margin-left: 0;
        }
    }
}
@media(max-width:870px){
    .order__inner{
        justify-content: space-between;
    }
    .order__item+.order__item{
        margin: 0;
    }
}
@media(max-width:760px){
    .menu__list{
        margin: 0 ;
    }
    .order__inner{
       display: block;
    }
    .order__item{
        margin-bottom: 30px;
        max-width: 100%;
    }
    .order__text{
        max-width: 100%;
    }
    .order__item--user .order__text{
        max-width: 100%;
    }
}
@media(max-width:640px){
    body{
        font-size: 18px;
    }
    .header__btn{
        display: none;
    }
   
    .menu__btn{
        width: 30px;
        height: 20px;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        &::before,
        &::after{
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: $blue;
                left: 0;
        }
        &::before{
            top: 0;
            transition: all 0.3s;
        }
        &::after{
            bottom: 0;
            transition: all 0.3s;
        }
        span{
            position: absolute;
            background-color: $blue;
            width: 100%;
            height: 2px;
            top: 9px; 
            transition: all 0.5s;
        }
        .menu__btn-text{
            display: block;
            font-size: 18px;
            line-height: 18px;  
            color: $blue;
            position: absolute;
            left: -70px;
            top: 50%;
            transform: translateY(-50%);
            opacity: 1;
            transition: all 0.2s;
        }
        &.menu__btn--active{
            transition: all 0.3s;
            span{
                opacity: 0;
                transition: all 0.2s;
            }
            &::before{
                transform: rotate(135deg);
                top: 9px;
                transition: all 0.3s;
            }
            &::after{
                bottom: 9px;
                transform: rotate(-135deg);
                transition: all 0.3s;
            }
            .menu__btn-text{
                opacity: 0;
                transition: all 0.2s;
            }
        }
    }
    .menu__list{
        // display: none;
        display: block;
        text-align: center;
        background-color: #EFF0F1;
        transition: ease-in-out all 0.3s;
        transform: translateY(-1000%);
        li{
            border-bottom: 1px solid #EFF0F1;
        }
    }
    .menu__list.menu__list--active{
        display: block;
        // transform: translateX(0%);
        transition: ease-in-out all 0.3s;
        padding-top: 50px;
        transform: translateY(0%);
        
        .menu__list-item{
            transition: all 0.5s;
        }
    }
    .menu__list-item{
        display: block;
        padding: 10px 0;
        background-color: #EFF0F1;
        transition: ease 0.5s;
       
       
    }
    .menu{
        height: 50px;
        position: relative;
        .container{
            padding: 0;
        }
    }
    .menu__back{
        display: block;
        font-size: 18px;
        line-height: 18;
        color: $blue;
        position: absolute;
        left: 35px;
        top: 50%;
        transform: translateY(-50%);
        
        transition: all 0.5s;
        &::before{
            content: '';
            position: absolute;
            background-image: url('../images/icons/arrow-left.svg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 9px;
            height: 15px;
            left: -20px;
            top: 50%;
            transform: translateY(-50%);
        }
        &.menu__back--active{
            opacity: 0;
            transition: all 0.2s;
        }
    }
    .menu__link-column{
        height: 100%;
        width: 1px;
        background-color: #000;
    }
    .baner__title{
        font-size: 35px;
        line-height: 42px;
        max-width: 100%;
        padding-top: 34px;
        span{
            font-size: 20px;
            line-height: 24px;
            padding-top: 20px;
        }
    }
    .price__title{
        font-size: 25px;
        line-height: 30px;
    }
    .price__list{
        margin-bottom: 10px;
    }
    .border{
        padding-bottom: 25px;
    }
    .title{
        font-size: 25px;
        line-height: 30px;
    }
    .product__items{
        margin-bottom: 10px;
    }
    .address__item{
        max-width: 100%;
    }
    .address__text{
        max-width: 100%;
        margin-bottom: 10px;
    }
    .address__descr{
        max-width: 100%;
        margin-bottom: 30px;
        font-size: 16px;
        line-height: 24px;
    }
    .questions__accordion-title{
        font-size: 18px;
        line-height: 18px;
    }
    .questions__accordion-descr{
        font-size: 18px;
        line-height: 24px;
    }
    .questions{
        padding-bottom: 30px;
    }
    .questions__btn{
        padding: 16px 47px 14px;
    }
    .info__inner{
        padding-top: 34px;
    }
    .info__title{
        margin-bottom: 30px;
    }
    .info__descr{
        font-size: 18px;
    }
    .info__btn{
        margin-bottom: 34px;
    }
    .copy__text{
        p:not(:first-child){
            font-size: 15px;
            line-height: 20px;
        }
    }
    .popup__wrapper{
        padding: 20px;
    }
    .popup__title{
        margin-right: 30px;
    }
    .breadcrumbs{
        display: none;
    }
    .price-description__inner{
        padding-top: 34px;
        margin-bottom: 20px;
    }
    .blog__descr{
        font-size: 18px;
        line-height: 22px;
    }
    .price-page{
        .price__title{
            font-size: 35px;
            line-height: 42px;
        }
        .price__subtitle{
            font-size: 25px;
            line-height: 30px;
        }
        .price__line{
            display: none;
            &:nth-child(-n+5){

                display: block;
            }
        }
    }
    .item-info__title{
        padding-top: 16px;
    }
    .item-info__descr{
        line-height: 24px;
    }
    .item-price{
        .price__inner{
            padding-top: 31px;
        }
        .price__title{
            margin-bottom: 20px;
            line-height: 30px;
        }
    }
    .product-page{
        
        .product-page__title{
            padding-top: 16px;
            font-size: 35px;
            line-height: 42px;
        }
        .product__title{
            z-index: -1;
        }
        .product__inner{
            padding-top: 30px;
        }
    }
    .blog__title{
        margin-bottom: 20px;
    }
    .blog__subtitle{
        margin-bottom: 20px;
    }
    .blog__slider{
      margin: 0 -15px;
    }
    .one-product{
        .price__title{
            font-size: 25px;
            line-height: 30px;
        }
        .price__list{
            margin-bottom: 0;
        }
        .price__btn{
            margin-left: 0;
            padding: 16px 16px 14px;

        }
        .questions__btn{
            margin-left: 0;
        }
    }
    .company{
        p{
            margin-bottom: 20px;
        }
        .questions__btn {
            margin-left: 0;
        }
    }
    .company__title{
        font-size: 25px;
        line-height: 30px;
        span{
            font-size: 35px;
            line-height: 42px;
        }
    }
    .company__slider{
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: 30px;
    }
    .company__slider-img{
        img{
            height: 250px;
        }
    }
    .company-info__title{
        padding-top: 40px;
    }
}
@media(max-width:500px){
    .contacts-page__item{
        flex-basis: 100%;
    }
}
@media(max-width:400px){
    .header__phone{
        font-size: 18px;
    }
    .price__line-link{
        // display: block;
        justify-content: space-between;
    }
    .price__dots{
        display: none;
    }
    .price__name{
        flex: none;
        font-size: 16px;
    }
    .price__number{
        flex: none;
        font-size: 16px;
    }
    .price__btn {
        padding: 16px 28px 14px;
    }
    .order__text{
        font-size: 18px;
        line-height: 24px;
    }
    .order__phone{
        font-size: 23px;
        line-height: 23px;
    }
    .order__item--user .order__text{
        font-size: 18px;
        line-height: 24px;
    }
    .product__btn{
        padding: 16px 42px 14px;
    }
    .order__btn{
        padding: 10px 37px;
    }
    .popup__wrapper{
        padding: 20px 10px;
    }
    .contacts-page__btn{
        padding: 16px 47px 14px;
    }
}